<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="junittest.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="junittest.intro.Perspective"
            id="junittest.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="junittest.application"
            name="RCP Product">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="junittest.view.ProjectView"
            id="junittest.view.ProjectView"
            name="Project">
      </view>
      <view
            class="junittest.view.DescriptionView"
            id="junittest.view.DescriptionView"
            name="Description">
      </view>
      <view
            class="junittest.view.LogHistoryView"
            id="junittest.view.LogHistoryView"
            name="Log History">
      </view>
      <view
            class="junittest.view.TestStepView"
            id="junittest.view.TestStepView"
            name="Test Step">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="junittest.view.ProjectView"
               minimized="false"
               moveable="false"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.2"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="junittest.view.LogHistoryView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
         <view
               closeable="false"
               id="junittest.view.TestStepView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               ratio="0.7"
               relationship="bottom"
               relative="junittest.view.LogHistoryView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="junittest.category.project"
            name="Project">
      </category>
      <command
            categoryId="junittest.category.project"
            id="junittest.command.open"
            name="Open">
      </command>
      <command
            categoryId="junittest.category.project"
            id="junittest.command.close"
            name="Close">
      </command>
      <command
            categoryId="junittest.category.project"
            id="junittest.command.recent"
            name="Recent">
      </command>
      <command
            categoryId="junittest.category.project"
            id="junittest.command.load"
            name="Load">
      </command>
      <command
            categoryId="junittest.category.project"
            id="junittest.command.delete"
            name="Delete">
      </command>
      <category
            id="junittest.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="junittest.commands.category"
            id="junittest.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="工程"
               tooltip="project">
            <command
                  commandId="junittest.command.open"
                  label="打开"
                  style="push">
            </command>
            <command
                  commandId="junittest.command.close"
                  label="闭关"
                  style="push">
            </command>
            <command
                  commandId="junittest.command.recent"
                  label="最近"
                  style="push">
            </command>
            <command
                  commandId="junittest.command.load"
                  label="加载"
                  style="push">
            </command>
            <command
                  commandId="junittest.command.delete"
                  label="删除"
                  style="push">
            </command>
         </menu>
         <menu
               label="配置"
               tooltip="preference">
         </menu>
         <menu
               label="报告"
               tooltip="report">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="junittest.handler.LoadSourceHandler"
            commandId="junittest.command.load">
      </handler>
      <handler
            class="junittest.handler.OpenProjectHandler"
            commandId="junittest.command.open">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="junittest.ui.ResourceLabelDecorator"
            id="junittest.decorator1"
            label="resource"
            location="REPLACE"
            objectClass="org.eclipse.core.resources.IResource"
            state="true">
      </decorator>
   </extension>
   <!--<extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="junittest.intro">
      </intro>
      <introProductBinding
            introId="junittest.intro"
            productId="junittest.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="junittest.intro"
            content="introContent.xml"
            id="junittest.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
-->
</plugin>
