<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="junittest.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="junittest.intro.Perspective"
            id="junittest.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="junittest.application"
            name="RCP Product">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="junittest.view.ProjectView"
            id="junittest.view.ProjectView"
            name="Project">
      </view>
      <view
            class="junittest.view.DescriptionView"
            id="junittest.view.DescriptionView"
            name="Description">
      </view>
      <view
            class="junittest.view.LogHistoryView"
            id="junittest.view.LogHistoryView"
            name="Log History">
      </view>
      <view
            class="junittest.view.TestStepView"
            id="junittest.view.TestStepView"
            name="Test Step">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="junittest.view.ProjectView"
               minimized="false"
               moveable="false"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.2"
               relationship="right"
               relative="junittest.view.ProjectView">
         </view>
         <view
               closeable="false"
               id="junittest.view.LogHistoryView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
         <view
               closeable="false"
               id="junittest.view.TestStepView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
      </perspectiveExtension>
   </extension>
   <!--<extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="junittest.intro">
      </intro>
      <introProductBinding
            introId="junittest.intro"
            productId="junittest.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="junittest.intro"
            content="introContent.xml"
            id="junittest.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
-->
</plugin>
