<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="junittest.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="junittest.intro.Perspective"
            id="junittest.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="junittest.application"
            name="RCP Product">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="RCP Product">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="junittest.view.ProjectView"
            id="junittest.view.ProjectView"
            name="Project">
      </view>
      <view
            class="junittest.view.DescriptionView"
            id="junittest.view.DescriptionView"
            name="Description">
      </view>
      <view
            class="junittest.view.LogHistoryView"
            id="junittest.view.LogHistoryView"
            name="Log History">
      </view>
      <view
            class="junittest.view.TestStepView"
            id="junittest.view.TestStepView"
            name="Test Step">
      </view>
      <view
            class="junittest.view.LogView"
            id="junittest.view.LogView"
            name="Log">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="junittest.view.ProjectView"
               minimized="false"
               moveable="false"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.2"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="junittest.view.LogHistoryView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
         <view
               closeable="false"
               id="junittest.view.TestStepView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
         <view
               closeable="false"
               id="junittest.view.LogView"
               minimized="false"
               ratio="0.7"
               relationship="bottom"
               relative="junittest.view.LogHistoryView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="junittest.category.project"
            name="Project">
      </category>
      <command
            categoryId="junittest.category.project"
            id="junittest.command.open"
            name="Open">
      </command>
      <command
            categoryId="junittest.category.project"
            id="junittest.command.close"
            name="Close">
      </command>
      <command
            categoryId="junittest.category.project"
            id="junittest.command.recent"
            name="Recent">
      </command>
      <command
            categoryId="junittest.category.project"
            id="junittest.command.load"
            name="Load">
      </command>
      <command
            categoryId="junittest.category.project"
            id="junittest.command.delete"
            name="Delete">
      </command>
      <category
            id="junittest.category.run"
            name="Run">
      </category>
      <command
            categoryId="junittest.category.run"
            id="junittest.commands.start"
            name="Start">
      </command>
      <command
            categoryId="junittest.category.run"
            id="junittest.command.stop"
            name="Stop">
      </command>
      <command
            categoryId="junittest.category.run"
            id="junittest.command.pause"
            name="Pause">
      </command>
      <command
            categoryId="junittest.category.run"
            id="junittest.command.resumes"
            name="Resumes">
      </command>
      <category
            id="junittest.category.report"
            name="Report">
      </category>
      <command
            categoryId="junittest.category.report"
            id="junittest.command.simplereport"
            name="SimpleReport">
      </command>
      <command
            categoryId="junittest.category.report"
            id="junittest.command.report"
            name="Report">
      </command>
      <command
            categoryId="junittest.category.report"
            id="junittest.command.viewlog"
            name="View Log">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="工程"
               tooltip="project">
            <command
                  commandId="junittest.command.open"
                  label="打开"
                  style="push">
            </command>
            <command
                  commandId="junittest.command.close"
                  label="闭关"
                  style="push">
            </command>
            <command
                  commandId="junittest.command.recent"
                  label="最近"
                  style="push">
            </command>
            <command
                  commandId="junittest.command.load"
                  label="加载"
                  style="push">
            </command>
            <command
                  commandId="junittest.command.delete"
                  label="删除"
                  style="push">
            </command>
         </menu>
         <menu
               label="配置"
               tooltip="preference">
         </menu>
         <menu
               label="报告"
               tooltip="report">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="junittest.toolbar1">
            <command
                  commandId="junittest.command.open"
                  label="工程打开"
                  style="push">
            </command>
            <command
                  commandId="junittest.command.close"
                  label="工程关闭"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="junittest.handler.LoadSourceHandler"
            commandId="junittest.command.load">
      </handler>
      <handler
            class="junittest.handler.OpenProjectHandler"
            commandId="junittest.command.open">
      </handler>
      <handler
            class="junittest.handler.CloseProjectHandler"
            commandId="junittest.command.close">
      </handler>
      <handler
            class="junittest.handler.DeleteProjectHandler"
            commandId="junittest.command.delete">
      </handler>
      <handler
            class="junittest.handler.RunHandler"
            commandId="junittest.commands.start">
         <enabledWhen>
            <with
                  variable="junittest.isRunning">
               <equals
                     value="false">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="junittest.handler.StopHandler"
            commandId="junittest.command.stop">
         <enabledWhen>
            <with
                  variable="junittest.isRunning">
               <equals
                     value="true">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="junittest.handler.PauseHandler"
            commandId="junittest.command.pause">
         <enabledWhen>
            <with
                  variable="junittest.isRunning">
               <equals
                     value="true">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="junittest.handler.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
      </handler>
      <handler
            class="junittest.handler.SimpleReportHandler"
            commandId="junittest.command.simplereport">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="junittest.ui.ResourceLabelDecorator"
            id="junittest.decorator1"
            label="resource"
            location="REPLACE"
            state="true">
         <enablement>
            <objectClass
                  name="java.lang.Object">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="junittest.ui.StatusLabelDecorator"
            id="junittest.decorator.status"
            label="status"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="java.lang.Object">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:junittest.view.ProjectView">
         <command
               commandId="junittest.commands.start"
               label="启动"
               style="push">
         </command>
         <command
               commandId="junittest.command.stop"
               label="停止"
               style="push">
         </command>
         <command
               commandId="junittest.command.pause"
               label="暂停"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:junittest.view.LogHistoryView">
         <command
               commandId="junittest.command.simplereport"
               label="生成概要报告"
               style="push">
         </command>
         <command
               commandId="junittest.command.report"
               label="生成详细报告"
               style="push">
         </command>
         <command
               commandId="junittest.command.viewlog"
               label="查看日志"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="删除"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="junittest.ui.TestRunningCheckSourceProvider">
         <variable
               name="junittest.isRunning"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
</plugin>
